[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "coroICA"]
	path = coroICA
	url = https://github.com/sweichwald/coroica-r
	subdir = coroICA
[submodule "gadjid"]
	path = gadjid
	url = https://github.com/cran/gadjid
